In [139]:
#importing pandas and defining the dataframe

import pandas as pd
df = pd.read_csv("budget_data.csv")
df2 = pd.read_csv("budget_data.csv")

In [140]:
#checking prior command
print(df)

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [141]:
monthy_pnl = df['Profit/Losses']

In [142]:
#calculating number of periods in dataset
num_months = (df.shape[0])

In [143]:
print(num_months)

86

In [144]:
# calculating net profits for all periods
net_profits = df.sum()

In [145]:
print(net_profits)

Date             Jan-10Feb-10Mar-10Apr-10May-10Jun-10Jul-10Aug-...
Profit/Losses                                             38382578
dtype: object

In [114]:
#importing numpy library

import numpy as np

df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [115]:
#checking datatypes and selecting what needs to be included in below calculation
pnl_int = df.select_dtypes(include = ['int64'])

In [116]:
#calculating difference in profit and loss between prior and next period for data set
pnl_difference = pnl_int.diff()

In [117]:
print(pnl_difference)

    Profit/Losses
0             NaN
1        116771.0
2       -662642.0
3       -391430.0
4        379920.0
..            ...
81      -665765.0
82       693229.0
83      -734926.0
84        77242.0
85       532869.0

[86 rows x 1 columns]

In [209]:
#calculating the average of the change in Profit/Loss over the entire dataset

pnl_change = pnl_difference.sum() // num_months
print(pnl_change)

Profit/Losses   -2289.0
dtype: float64

In [119]:
# identifying the greatest increase in profits 
max_increase = pnl_difference.max()

In [123]:
print(max_increase)

Profit/Losses    1926159.0
dtype: float64

In [121]:
#identifying the greatest drop

max_decrease = pnl_difference.min()
print(max_decrease)

Profit/Losses   -2196167.0
dtype: float64

In [132]:
# checking lenght for merge
len_df2 = (df2.shape[0])
print(len_df2)

86

In [133]:
#checking length for merge
len_pnl_difference = (pnl_difference.shape[0])
print(len_pnl_difference)

86

In [176]:
# creating new dict by merging dfs Profit/Losses-y is the monthly changes in pnl

delta_df = pd.merge(df2, pnl_difference, right_index= True, left_index = True)

In [177]:
print(delta_df)

      Date  Profit/Losses_x  Profit/Losses_y
0   Jan-10           867884              NaN
1   Feb-10           984655         116771.0
2   Mar-10           322013        -662642.0
3   Apr-10           -69417        -391430.0
4   May-10           310503         379920.0
..     ...              ...              ...
81  Oct-16           102685        -665765.0
82  Nov-16           795914         693229.0
83  Dec-16            60988        -734926.0
84  Jan-17           138230          77242.0
85  Feb-17           671099         532869.0

[86 rows x 3 columns]

In [178]:
#setting up new dataframe with appened monthly pnl change
df3 = pd.DataFrame(delta_df)

In [179]:
print(df3)

      Date  Profit/Losses_x  Profit/Losses_y
0   Jan-10           867884              NaN
1   Feb-10           984655         116771.0
2   Mar-10           322013        -662642.0
3   Apr-10           -69417        -391430.0
4   May-10           310503         379920.0
..     ...              ...              ...
81  Oct-16           102685        -665765.0
82  Nov-16           795914         693229.0
83  Dec-16            60988        -734926.0
84  Jan-17           138230          77242.0
85  Feb-17           671099         532869.0

[86 rows x 3 columns]

In [180]:
#renaming columns for readability
df3.columns =['Date', 'Profit/Losses', 'MoMVariance']

In [197]:
print(df3)

      Date  Profit/Losses  MoMVariance
0   Jan-10         867884          NaN
1   Feb-10         984655     116771.0
2   Mar-10         322013    -662642.0
3   Apr-10         -69417    -391430.0
4   May-10         310503     379920.0
..     ...            ...          ...
81  Oct-16         102685    -665765.0
82  Nov-16         795914     693229.0
83  Dec-16          60988    -734926.0
84  Jan-17         138230      77242.0
85  Feb-17         671099     532869.0

[86 rows x 3 columns]

In [198]:
df3['MoMVariance'].astype(str)

0           nan
1      116771.0
2     -662642.0
3     -391430.0
4      379920.0
        ...
81    -665765.0
82     693229.0
83    -734926.0
84      77242.0
85     532869.0
Name: MoMVariance, Length: 86, dtype: object

In [202]:
#locating the month with the greatest increse in profits
max_month = df3.loc[df3['MoMVariance']== 1926159.0]

In [203]:
print(max_month)

      Date  Profit/Losses  MoMVariance
25  Feb-12        1170593    1926159.0

In [206]:
#locating the month with the greatest decrease in profits
min_month = df3.loc[df3['MoMVariance']== -2196167.0]

In [207]:
print(min_month)

      Date  Profit/Losses  MoMVariance
44  Sep-13       -1196225   -2196167.0

In [255]:
total_months =num_months
total_profits = net_profits.loc['Profit/Losses']
average_change = pnl_change.loc['Profit/Losses']
greatest_increase_month = max_month
greatest_increase_amount = '$1926159'
greatest_decrease_month = 'Sep-13'
greatest_decrease_amount = '-$2196167'

In [258]:
print("Financial Analysis")
print("------------------------------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total_profits}")
print(f"AverageChange: ${average_change}")

Financial Analysis
------------------------------------------------
Total Months: 86
Total: $38382578
AverageChange: $-2289.0